{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<h1>Estos son los resultados.</h1>
  <p>
    <br>&quot;{{cadena_palindromo}}&quot; es un palindromo: {{palindromo}}<br>
    <br>&quot;{{cadena_contar}}&quot; tiene tantas palabras: {{recuento_cadena}}<br>
    <br>el factorial de {{numero_fact}} es: {{resultado_factorial}}<br>
    <br>la cadena cifrada &quot;{{cadena_cifrar}}&quot; es: &quot;{{cadena_cifrada}}&quot;<br>
    <br>la cadena descifrada &quot;{{cadena_descifrar}}&quot; es: &quot;{{cadena_descifrada}}&quot;<br>
    <br>la capital &quot;{{capital}}&quot; pertenece a: &quot;{{pais}}&quot;<br>
    <img src="{{imgpath}}">
  </p>




<img src="http://www.naturalprogramming.com/images/smilingpython.gif">
</div>
{% endblock %}
